@charset "UTF-8";

body {
    background-image: url("assets/background.png");
    background-repeat: repeat;
}

h1,h2,h3,h4 {
    color: #b5e853;
}

p {
    display: inline-block;
    text-align: left;
    color: lightgray;
}

a {
    color: #b5e853;
}

.header-container {
    text-align: center;
    margin: 0 auto;
}

.main-container{
    text-align: center;
}

.game-container {

}

.game-content{
    display: inline-block;
    text-align: center;
    border: 4px solid #b5e853;
    border-radius: 4px;
}

#title {
    display: inline-block;
}
.game-title{
}

.game-general{
    display: inline-block;
    text-align: center;
}

.game-control {
}

.game-control-text {
    border: 2px solid #b5e853;
    border-radius: 2px;
}

.game-general-text{
    width: 60%;
    text-align: center;
}
.game-link {
    margin-bottom: 1em;
}